

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
}

a{
    letter-spacing: .02em;
    text-decoration: none;
    color: #333;
}

a:hover, a:visited, a:link {
    color: #333;
    text-decoration: none;
}

.spacer-50{
    height: 50px;
    width: 100%;
    clear: both;
}

.spacer-55 {
  height: 55px;
  width: 100%;
  clear: both;
}

.spacer-100{
    height:100px;
    width: 100%;
    clear: both;
}


.text-grey{
    color: dimgray;
}

h1 {
    /*text-decoration: underline;*/
}

img {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    border-radius: 4px;
}

/* 
1 ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w  to 479px
*/
    
  /* header */
    
header {
        width:100%;
        top:0;
        background-color: #fff;
    }

header #logo-container{
        width: 100%;
        margin-bottom: 5px;
        padding-top: 5px;
        text-align: center;
    }
    
header #logo-container img{
        box-shadow: none;
    }
    
header #nav-container{
        width: 100%;
        text-align: center;
        text-decoration: none;
    }

header .container #logo{
        height:35px;
        margin-top: 5px;
    }

header nav a{
        display:block;
        padding: 6px 0 14px;
        color:black;
        line-height: 1.2;
    }
    
    
   /* body */
    
body{
        width:100%;
        margin:0;
        padding:0;
        background-color: #fff;
        height:100%;
    }

body .txt{
        padding-left:26px;
        padding-right: 26px;
        max-width:1024px;
        margin-right:auto;
        margin-left:auto;
        background-color: transparent;
    }
    
body img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*box-shadow: 13px 20px 23px 3px rgba(0,0,0,0.21);*/
    }
    
body .container-text{
        margin-left: auto;
        margin-right: auto;
        width: 21em;
    }
    
body .container-tekt-2{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
    
.img-container-mobile{
        width: 100%;
        margin-bottom: 30px;
    }
    
body ul li{
        list-style-type: none;
    }
    
    /*index.html*/
    
    /* wstep na strone*/
    
body .txt #home-box-1{
        margin-top: 100px;
        text-align: center;
    }

body .txt #home-box-1 h1 span{
      font-weight: normal;
    }
    
    /* o mnie*/
    
body #photo-container{
        width: 100%;
    }
    
body #photo-container img{
        max-width: 200px;
    }

body #home-about-opis p{
    text-align: justify;
}

body #home-about-opis h1{
    text-align: center;
}

body #projektuje h2{
        padding-left: 0;
        font-size: 20px;
    }

body #projektuje ul li{
        display: inline-block;
        padding-left:20px;
        padding-right: 30px;
        border-left: 22px solid #000;
        margin-bottom: 30px;
        letter-spacing: 0.02em;
    }
    
body #projektuje{
        margin-top: 70px;
    }
    
    /* home-projekty*/
    
body .projekty-container-text{
        margin-top: -30px;
        margin-bottom: 30px;
    }

body .projekt-tytul-home{    
    text-align: center;
    color: dimgray;
    font-size: 17px;
    letter-spacing: normal;
}
    
    /*kontakt*/
    
body #home-kontakt{
    padding-top: 50px;
    text-align: left;
    margin-top: 50px;
}

body #home-kontakt h1{
    font-size: 20px;
    padding-bottom: 16px;
}
    
body .kontakt-info li{
    display: inline-block;
    padding-left:20px;
    padding-right: 30px;
    border-left: 22px solid #000;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
    margin-left: -40px;
}
    
    /* footer*/
    
footer { 
        width:100%;
        float:left;
        display:block;
        background-color: #fff;
        color: dimgray;
    }

footer .foot{
        padding-left:46px;
        padding-right: 46px;
        max-width:1024px;
        margin-right:auto;
        margin-left:auto;
        display: grid;
    }

footer .wspolpraca-footer p{
    text-align: center;
}

footer .foot .social_icon ul li{
        display:inline-block;
        margin-left: 20px;
    }
    
footer p{
        font-size: 12px;
    }

footer i{
        font-size: 15px;
    }

/*projekty strony www*/

body .projekt-img-container {
	margin-top: 50px;
}

body .projekt-img-box img{
    max-width: 70%;
    margin: auto;
	align-content: center;
	margin-top: 30px;
}
   
body .projekt-img-tytul{
    text-align: center;
    letter-spacing: .1em;
    color: dimgray;
    font-size: 17px;
}

body .projekt-tytul{
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-top: 50px;
}

body .projekt-opis{
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

/*strzałki - projekty na www*/

.arrow{
    clear: both;
    margin-top: 50px;
}


    
.arrow-r{
    float: right;
}

.arrow-l{
    float: left;
}

.arrow p{
    margin-bottom: 50px;
    font-size: 12px
}

.arrow a img{
    box-shadow: none;
    width: 25px;
    margin-top: 50px;
}

#home-about-opis {
  width: 100%;
  float: none;
  padding-top: 50px;
}

/* 
2 ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) {
    
    /*header*/
    
    header {
        width:100%;
        position:fixed;
    }

    .container {
        padding-left:46px;
        padding-right: 46px;
        max-width:1024px;
        margin-right:auto;
        margin-left:auto;
    }

    header .container #logo{
        float: left;
        margin: 11px 0 9px 3px;
    }

    header nav{
        float: right;
        margin-top: 2px;
        display: table;
    } 

    header #nav-container a{
        display:inline-block;
    }

    header nav a{
        margin-left: 40px;
    }
    
    /*body*/

    body .txt{
        padding-left:46px;
        padding-right: 46px;
    }  
    
    body .container-text{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    body .container-tekt-2{
        margin-left: auto;
        margin-right: auto;
        width: 23em;
    }
    
    .img-container-mobile{
        max-width: 380px;
        margin-bottom: 30px;
    }
    
    /*wstep*/
    
    body #home-box-1 h1{
        font-size: 20px;
    }
    
    body .txt #home-box-1{
        margin-top: 150px;
        clear: both;
        text-align: left;
        width: 100%;
    }
    
    /* o mnie*/
    
    body #photo-container img{
        max-width: 300px;
        width: 330px;
    }
    
    body #home-about-opis h1{
        font-size: 20px;
    }
    
    body .projekt-img-box-s img{
        max-width:300px;
    }

    body .projekt-img-box-b img{
        max-width:400px;
    }

}

/* https://devfacts.com/media-queries-breakpoints-2021/ */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    /* wstep na strone*/
    
    body .txt #home-box-1{
        clear: both;
        text-align: left;
        width: 100%;
    }
    
    body #home-box-1 h1{
        font-size: 25px;
    }
    
    /* o mnie */
    
    body #photo-container img{
        max-width: 400px;
    }
    
    body #home-about-opis p{
    text-align: left;
}
    
    body #home-about-opis h1{
    text-align: left;
}
    
    body #home-about-opis h1{
        margin-top: 0;
    }


    body #projektuje{
        clear: both;
        width: 100%;
    }


    body #projektuje ul li{
        margin-bottom: 20px;
    }
    
    /*projekty*/

    body .projekty-container-text{
        clear: both;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }  
    
    body .projekty-container-text p{
        font-size: 18px;
        letter-spacing: .02em;
    }
    
    body .container-projekty-lista{
        clear: both;
        display: inline-block;
    }
    
    body .img-container-mobile{
        max-width: 300px;
    }
    
    body .container-projekty-lista .container-tekt-2{
        text-align: center;
    }
    
    body .lewy-thumb{
        float: left;
        width: 50%;
    }
    
    body .prawy-thumb{
        float:right;
        width: 50%;
    }
    
    /*behance*/
    
    body #behance-txt{
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
        font-size: 18px;
    }
    
    /*kontakt*/
    
    body #home-kontakt{
        clear: both;
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
    }
    
    body #home-kontakt h1{
        font-size: 20px;
        padding-bottom: 16px;
    }
    
    body #home-kontakt li a{
        padding-right: 90px;
        
    }
    
    
    /*projekty www*/
    
    /* body .projekt-text-box{
        float:left;
        max-width: 100%;
        padding-right: 20px;
        
    }
    
   body .projekt-text-box .projekt-opis{
        float:left;
        max-width: 70%;
        padding-right: 20px;
        
    }
    */
    
    body .projekt-logo-box img{
        width: 300px;
    }
    
    body .projekt-logo-box p{
        text-align: center;
        width: 20em;
    }
    
    body .projekt-img-tytul{
        text-align: center;
        width: 30em;
    }
    
    .arrow a img{
        width: 30px;
    }
    

    body .projekt-site .lewy{
        width: 50%;
        float: left;
    }
    
    body .projekt-site .projekt-box-lewy{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    body .projekt-site .prawy{
        width: 50%;
        float: right;
    }
    
    body .projekt-site .projekt-box-prawy {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        body .projekt-site .projekt-img-tytul {
            text-align: center;
            margin: 0 auto;
            width: 80%;
    }
    
}

/* https://devfacts.com/media-queries-breakpoints-2021/ */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    /*o mnie*/
    

    body #photo-container{
      float: left;
      max-width: 40%;
  }
    
    body #photo-container #my-photo {
        margin-left: 0;
    }

    body #home-about-opis{
      float: right;
      width: 60%;
      padding-top: 0;
  }
    
    /*projekt*/
    
    body .container-projekty-lista .container-img-projekt-box-s{
        float: left;
        width: 33%;
    }
    
    body .container-projekty-lista .container-img-projekt-box-d img{
        min-width: 400px;
    }
    
    body .container-projekty-lista .home-ptojekt-nail img{
        margin-left: auto;
        margin-right: auto;
    }
    
    body .container-projekty-lista .container-tekt-2{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        
    }
    
    body .container-projekty-lista .projekt-tytul{
        font-size: 16px;
        letter-spacing: normal;
    }
    
    /*projekty - strony ww*/
    
    body .projekt-logo-box img{
        max-width: 400px;
    }
    
    body .projekt-img-tytul{
        font-size: 18px;
    }

    body .projekt-tytul{
        font-size: 20px;
    }
    
    body .projekt-img-box-s img{
        width:400px;
    }

    body .projekt-img-box-b img{
        width:500px;
    }
    
    
}

#projektuje ul {
    padding-left: 0;
}

#projektuje ul li:last-child {
    padding-right: 0;
}

#projektuje h2 {
    margin-bottom: 50px;
}

#home-about-opis h1 span {
    font-weight: normal;
}

#text-home-projekt {
    text-align: justify;
    text-justify: inter-word;
}

.wspolpraca-footer a {
    margin-left: 5px;
}

footer #social-icons a {
    padding: 5px;
}

.projekt-site .projekt-box-prawy, .projekt-site .projekt-box-lewy {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
body #info-about {
	font-size: 16px;
  margin-top: 0;
}

#signature {
  text-align: right;
}

#signature img {
  border-radius: 0;
  box-shadow: none;
  display: inline;
  height: 50px;
  margin-top: 10px;
}

#signature .text {
  padding-right: 5px;
}